<div id="header">
    <div id="headerNameApp">
        <input type="hidden">
                    <h1 id="nameApp"><a href="/" id="nameApp">Vapeur</a></h1>
        </input>

    </div>
    <div id="headerSearchBar">
        <form action="/search/" method="post">
                <Input type="search" name="search" placeholder="Rechercher !"></Input>
        </form>
    </div>
</div>
