
<form id="addGameForm" method="post" enctype="multipart/form-data"> {{!-- enctype pour uplaod les photos --}}
    
    <input type="text" name="name" placeholder="Nom du jeu" required />
    <input type="text" name="description" placeholder="Description du Jeu" required />
    <input type="datetime-local" name="date" required/>
    
    <label for="category">Choisir la categorie:</label> 
    <select name="category">
        {{#each category}}
            <option id="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <label for="editor">Choisir l'éditeur:</label>
    <select name="editor">
        {{#each editor}}
            <option id="{{id}}">{{name}}</option>
        {{/each}}
    </select>



    <input type="file" name="picture" accept=".jpg, .jpeg, .png, .gif"/>
    <input type="submit" value="Ajouter le jeu à Vapeur"/>
</form>