<h3>Les Jeux </h3>
    {{#each game}}
        <li>
            <a href="/Game/{{name}}">{{name}}</a>
        </li>
    {{/each}}

<br/>
<a href="./addGame">Ajouter un jeu</a>
<br/><br/>
<a href="../">Retour à la page principale</a>