<h3>Les Editeurs </h3>
<div id="editors">
    {{#each editor}}
        <li>
            <a href="/Editor/{{name}}">{{name}}</a>
        </li>
    {{/each}}
</div>

<br/>
<a href="./addEditor">Ajouter un éditeur</a>
<br/><br/>
<a href="../">Retour à la page principale</a>